//
// MODULE: Notification icon
// Shows notification indicator on icons
//
// @markup
//   <i data-count="2" class="glyphicon glyphicon-bell notification-icon"></i>
//
// @author Martin Staněk (https://github.com/skywalkapps)
// -----------------------------

@d: 1.25 * @notifications-icon-font-size;

.notification-icon {
  margin-right: 0.5 * @d;
}
.notification-icon:after {
  position: absolute;
  // Use atribut data-count on target element to show notifications count
  content: attr(data-count);

  margin-left: -0.5 * @d;
  margin-top:  -0.5 * @d;

  padding: 0 4px;
  min-width: @d;
  height: @d;
  line-height: @d;
  background: @notifications-icon-bg;
  border-radius: @notifications-icon-radius;

  color: @notifications-icon-color;
  text-align: center;
  vertical-align: middle;
  font-size: @notifications-icon-font-size; // 11px
  font-weight: 600;
  font-family: @font-family-base;
}
