//
// MODULE: Notifications
// List of notification messages, basic structure
//
// @author: Martin Staněk (https://github.com/skywalkapps)
// -----------------------------

// List of notifications
.notifications {
  // for <ul>
  list-style: none;
  padding: 0;
}

.notification {
  display: block;
  padding: @notifications-padding;
  border-width: @notifications-border-width;
  border-style: solid;
  border-color: @notifications-border-color;
  background-color: @notifications-bg;
  color: @text-color;
  text-decoration: none;

  &:last-child {
    border-bottom: 0;
  }

  // State: Hover
  &:hover,
  &.active:hover {
    background-color: @notifications-hover-bg;
    border-color: @notifications-hover-border-color;
  }

  // State: Active as in "Unread"
  &.active {
    background-color: @notifications-hover-active;
  }

  // Remove underline by default
  a&:hover {
    text-decoration: none;
  }
}

// Notification Title
// You can use simple <p> or more emphasized <strong>
.notification-title {
  font-size: @font-size-base + 1;
  margin-bottom: 0;
}

// Notifications content / description
.notification-desc {
  margin-bottom: 0;
}

// Notifications meta (Time / Date)
.notification-meta {
  color: @gray-light;
}
