//
// UTIL: Variables
// ------------

// Your custom global variables or overrides

@icon-font-path:          "../assets/fonts/";

// DOCS
// ------------------

@sw-sidebar-width: 260px;

@sw-brand-primary:  #00b593;

@sw-navbar-default-bg: transparent;
@sw-navbar-default-link-color: fade(#fff, 80%);
@sw-navbar-default-link-hover-color: #fff;
@sw-navbar-default-link-active-color: #fff;

@sw-padding-large-vertical: 12px;
@sw-padding-large-horizontal: 24px;

@sw-font-size-base: 18px;
@sw-font-size-large: 24px;
@sw-font-size-normal: 16px;
@sw-font-size-small: 14px;

@sw-page-header-border-color:    transparent;