<div class="sw-section sw-footer">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <p class="sw-text">{{ site.footer_text }}</p>

	    <p class="sw-text">Created with care by Martin Staněk, Twitter: <a href="https://twitter.com/koucik">@koucik</a>, Github: <a href="https://github.com/skywalkapps">@skywalkapps</a> </p>
	  </div>
	</div>
</div><!-- /sw-section -->
