<!--
	Javascripts
	==================================================
-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}libs/bootstrap/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}javascripts/docs.js"></script>

<script>
$(function(){
  $('.sw-aside').affix({
    offset: {
      top: $('.sw-header').outerHeight() - 45 // margin
    }
  })
})
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics_code }}', 'auto');
  ga('send', 'pageview');

</script>
