
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, bootstrap, front-end, frontend, plugin, module">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Martin Staněk">

  <title>{{ page.title }} - by @skywalkapps</title>


  <!-- Common stylesheet for all devices -->
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/skywalk-docs.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/bootstrap-notifications.css">
  <!-- Place anything custom after this. -->

  <!-- Favicons -->
  <meta name="apple-mobile-web-app-title" content="Skywalk">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}assets/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}assets/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}assets/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}assets/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}assets/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}assets/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}assets/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}assets/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}assets/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}assets/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}assets/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}assets/favicons/favicon-16x16.png">
