<div class="sw-aside">
  <nav class="sw-nav-tree">
    <ul class="nav">
      <li><a href="#notifications-list">Notifications List</a></li>
      <li><a href="#dropdown-panel">Dropdown Panel</a></li>
      <li><a href="#application-notifications">Application Notifications</a></li>
      <li class="nav-divider"></li>
      <li><a href="#notifications-overview">Notifications Overview</a></li>
    </ul>
  </nav>
</div>