<header class="navbar navbar-fixed-top navbar-default" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".sw-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.home }}" class="navbar-brand logo"><span>Skywalk</span> <small>{{ site.name }}</small></a>
    </div>
    <nav class="collapse navbar-collapse sw-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Bootstrap for Apps</a></li> -->
        <li><a href="{{ site.repo }}">Github</a></li>
        <li>
          <div class="btn-group">
            <a href="{{ site.download.source }}" class="btn btn-primary navbar-btn" role="button">
              Download Notifications v{{ site.current_version }}
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
